@{
    ViewData["Title"] = "Principal";
}

<div class="row">
    <div class="col-md12">
        <h2 class="display-4">Ministério de louvor do IPI Piratininga</h2>
        <p>Aqui você poderá consultar, cadastrar novas escalas de louvores e também votar nas músicas que irão entrar para nossos repertórios.
        </p>
        <p>Os membros também da Igreja poderão recomendar louvores para o Ministério avaliar e inserir na nossa grade.</p>
    </div>

</div>

