
@{
    ViewData["Title"] = "Novo usuário";
}

<h1>Cadastro de um novo usuário no sistema</h1>

<p class="text-justify">Para ter acesso ao sistema, você irá precisar cadastrar um usuário e uma senha de acesso.<br />
    Informe os dados corretamente conforme solicitado para seguirmos com seu cadastro no sistema.
    </p>

<a asp-action="NovoUsuario" class="btn btn-success" role="button">Continuar</a>